@charset "UTF-8";

#b-34{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
}#b-34:hover{
    background-color: black;
    color: white;
}
#b-35{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
}#b-35:hover{
    background-color: black;
    color: white;
}
#b-36{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
}#b-36:hover{
    background-color: black;
    color: white;
}
#b-37{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
}#b-37:hover{
    background-color: black;
    color: white;
}
#b-38{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
}#b-38:hover{
    background-color: black;
    color: white;
}
#b-39{
    border: 2px solid black;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 10px 0;
}#b-39:hover{
    background-color: black;
    color: white;
}